{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <style>
        .list-group-item {
            padding: 8px !important;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 p-0">
            <center><img src="{% static 'images/logo.png' %}" width="100" height="100" class="img-thumbnail"></center>
            <div class="list-group">
                <a href="{% url 'emp_home' %}" class="list-group-item list-group-item-warning list-group-item-action {% if request.path == 'emp_home' %}active{% endif %}">Dashboard</a>
                <a href="/" class="list-group-item list-group-item-warning dropdown-toggle" id="profile-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Profile</a>
                <div class="dropdown-menu" aria-labelledby="profile-dropdown">
                    <a class="dropdown-item" href="{% url 'view_profile' %}">View Profile</a>
                    <a class="dropdown-item" href="{% url 'edit_profile' %}">Edit Profile</a>
                    <a class="dropdown-item" href="{% url 'change_password' %}">Change Password</a>
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </div>
                </div>
            <div class="list-group">
                <a href="/" class="list-group-item list-group-item-warning dropdown-toggle" id="requests-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Requests</a>
                <div class="dropdown-menu" aria-labelledby="requests-dropdown">
                     <a class="dropdown-item" href="{% url 'shift_change_request' %}">Shift Change request</a>
                    <a class="dropdown-item" href="{% url 'submit_leave_request' %}">Leave Request</a>
                    <a class="dropdown-item" href="{% url 'change_password' %}">Promotion Request</a>
                    <a class="dropdown-item" href="{% url 'logout' %}">Request Status</a>
                </div>

            </div>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-warning dropdown-toggle" id="duty-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Duty</a>
                <div class="dropdown-menu" aria-labelledby="duty-dropdown">
                    <a class="dropdown-item" href="view_duties">View Duty Assigned</a>
                    <a class="dropdown-item" href="#">Report Incident</a>
                    <a class="dropdown-item" href="#">Previously Assigned Duties</a>
                </div>

            </div>
            <div class="list-group">
                <a href="{% url 'helpdesk' %}" class="list-group-item list-group-item-warning list-group-item-action">HELPDESK</a>
                <a href="{% url 'send_message' %}" class="list-group-item list-group-item-warning list-group-item-action">MESSAGE TO SUPERVISOR</a>
            </div>
        </div>
        <div class="col-sm-10 p-0">
            <div class="container-fluid p-2">
                <h5 class="text-center p-3 font-weight-bold" style="border-bottom: 2px solid green; border-top: 2px solid green;">Duty Roaster Management System</h5>
                <div class="card shadow" style="min-height: auto">
                    <div class="card-body">
                        {% block main %}

                        {% endblock %}
                    </div>
                    <div class="card-body">
                        {% block leave %}

                        {% endblock %}
                    </div>
                    <div class="card-body">
                        {% block change %}

                        {% endblock %}
                    </div>
                    <div class="card-body">
                        {% block view_duties %}

                        {% endblock %}
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
